SECRET_KEY=generated_key
DEBUG=False_or_True
ALLOWED_HOSTS=ip_adress, 127.0.0.1, localhost, domain_name


POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_DB=foodgram
DB_HOST=db_name
DB_PORT=5432